                          
<p>You are logged in</p>
<button (click)="logout()">Logout</button>

<!--
<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
   
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="emailSignup"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.emailSignup.errors }"
        />
        <div *ngIf="submitted && f.emailSignup.errors" class="invalid-feedback">
          <div *ngIf="f.emailSignup.errors.required">Email is required</div>
          <div *ngIf="f.emailSignup.errors.emailSignup">Email is invalid</div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="passwordSignup"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.passwordSignup.errors }"
        />
        <div *ngIf="submitted && f.passwordSignup.errors" class="invalid-feedback">
          <div *ngIf="f.passwordSignup.errors.required">Password is required</div>
          <div *ngIf="f.passwordSignup.errors.minlength">
            Password must be at least 2 characters
          </div>
          <div *ngIf="f.passwordSignup.errors.maxlength">
            Username must not exceed 40 characters
          </div>
        </div>
      </div>
  
      
  
      <div class="form-group form-check">
        <input
          type="checkbox"
          formControlName="acceptTerms"
          class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
        />
      
        
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        
      </div>
    </form>
  </div>-->
  